.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  border-bottom: 1px solid var(--color-badges);
  background-color: var(--color-inputs);
}

.logo {
  display: flex;
  align-items: center;
}

.logoIcons {
  width: 136px;
  height: 16px;
}

.navigation {
  width: 100%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.navigationList {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-main);
}

.active {
  color: var(--color-button-hover);
}
