.button {
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--color-white);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

/* Розміри */
.button.small {
  padding: 16px 32px;
}

.button.large {
  padding: 16px 60px;
}

/* Primary кнопка (Search,View Now,Send,Show more) */
.button.primary {
  background-color: var(--color-button);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--color-button-hover);
}

.button.primary:active {
  background-color: var(--color-button-hover);
  transform: translateY(2px);
}

/* Secondary кнопка (Load more) */
.button.secondary {
  background-color: none;
  border: 1px solid var(--color-gray-light);
  color: var(--color-text-primary);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: none;
  border: 1px solid var(--color-button-hover);
}

.button.secondary:active {
  background-color: none;
  transform: translateY(2px);
}

/* Стан Disabled */
.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  transform: none;
}

.button:disabled:hover {
  transform: none;
}
