@import 'normalize.css';
/* ------------ RESET & BASE ------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-inter-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ------------ TYPOGRAPHY ------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
  line-height: var(--line-height-tight);
}

p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  color: var(--color-text-secondary);
}

/* ------------ LINKS ------------ */
a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--color-accent-hover);
}

/* ------------ BUTTONS ------------ */
button {
  cursor: pointer;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease;
}

button.primary {
  background-color: var(--color-accent);
  color: var(--color-white);
}

button.primary:hover {
  background-color: var(--color-accent-hover);
  transform: translateY(-1px);
}

/* ------------ Variables  ------------ */
:root {
  /* 🎨 Colors */
  --color-main: #101828;
  --color-text: #475467;
  --color-white: #ffffff;
  --color-inputs: #f7f7f7;
  --color-badges: #f2f4f7;
  --color-gray: #6c717b;
  --color-gray-light: #dadde1;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;

  /* 🌈 Semantic */
  --color-bg: var(--color-white);
  --color-text-primary: var(--color-main);
  --color-text-secondary: var(--color-text);
  --color-accent: var(--color-button);
  --color-accent-hover: var(--color-button-hover);

  /* 🔤 Typography */
  --font-size-h1: 48px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-body: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --line-height-tight: 1.2;
  --line-height-base: 1.5;
}
