/* === Reset Block  === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Базові елементи */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  background-color: var(--color-scheme-background);
  color: var(--color-scheme-text);
  text-rendering: optimizeLegibility;
}

/* Списки */
ul,
ol {
  list-style: none;
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Зображення та медіа */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Формові елементи */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

/* Таблиці */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  font-weight: var(--fw-bold);
  font-weight: inherit;
  font-size: inherit;
}

/* Інші */
blockquote,
figure {
  margin: 0;
}

/* === Fonts Variables === */
:root {
  --font-family: var(--font-inter-sans), sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}

/* ------------ Variables  ------------ */
:root {
  /* 🎨 Colors */
  --color-main: #101828;
  --color-text: #475467;
  --color-white: #ffffff;
  --color-inputs: #f7f7f7;
  --color-badges: #f2f4f7;
  --color-gray: #6c717b;
  --color-gray-light: #dadde1;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
}
